.small-logo{
    display: flex;
    justify-content: center;
}
.small-nav{
    display: flex;
    justify-content: center;
}
.bg-grey{
    background-color: gray;
}
.bg-black{
    background-color: black;
    color: white;

}