.w100{
    width:100%;
}
.small-logo{
    display: flex;
    justify-content: center;
}
.small-nav{
    display: flex;
    justify-content: center;
}
.bg-grey{
    background-color: gray;
}
.bg-black{
    background-color: black;
    color: white;
}
.sml-txt{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.media-nerd{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
